/* POKEMON COLORS */
.normal { background-color: var(--normal-color); }
.grass { background-color: var(--grass-color); }
.fire { background-color: var(--fire-color); }
.water { background-color: var(--water-color); }
.electric { background-color: var(--electric-color); }
.ice { background-color: var(--ice-color); }
.ground { background-color: var(--ground-color); }
.flying { background-color: var(--flying-color); }
.poison { background-color: var(--poison-color); }
.fighting { background-color: var(--fighting-color); }
.psychic { background-color: var(--psychic-color); }
.dark { background-color: var(--dark-color); }
.rock { background-color: var(--rock-color); }
.bug { background-color: var(--bug-color); }
.ghost { background-color: var(--ghost-color); }
.steel { background-color: var(--steel-color); }
.dragon { background-color: var(--dragon-color); }
.fairy { background-color: var(--fairy-color); }

:root {

    /* declarando palheta de cores */
    --normal-color: #d0d392;
    --grass-color: #1adcb3;
    --fire-color: #ff5662;
    --water-color: #7fafff;
    --electric-color: #fbe464;
    --ice-color: #7bfbff;
    --ground-color: #ffd564;
    --flying-color: #ac8dff;
    --poison-color: #ca37ca;
    --fighting-color: #ba443e;
    --psychic-color: #db6085;
    --dark-color: #725847;
    --rock-color: #b8a137;
    --bug-color: #c7d269;
    --ghost-color: #9e74ec;
    --steel-color: #a7a6ae;
    --dragon-color: #6f38f6;
    --fairy-color: #ffbdd3;

    /* cores gerais da pagina */
    --body-bg: #e6e8ec;
    --body-color: #3d3d3d;
    --section-bg: #fff;
    --poke-name: #fff;
    --poke-details: #fff;
}

.dark-mode:root {
    --body-bg: #000000;
    --body-color: #ffffff;
    --section-bg: #212529;
    --poke-name: #40454a;
    --poke-details: #40454a;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    overflow-x: hidden;
    color: var(--body-color);
    transition: background-color 0.5s ease; /* Adicionado a transição ao body */
}

.content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--section-bg);
    transition: background-color 0.5s ease; /* Adicionado a transição à .content */
}



@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
